<form method="post">
    <p>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </p>
    <p>
        <label>Price</label><br />
        <input type="number" name="Price" />
    </p>
    <p>
        <label>CategoryId</label><br />
        <input type="text" name="CategoryId" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>