@model IEnumerable<DeliveryServiceEF.Domain.Models.Product>
@using DeliveryServiceEF.Web.Helpers

@foreach (var product in Model)
{
    <span>@product.Id </span>
    <span>@product.Name </span>
    @Html.ActionLink("Details", "Details", "ProductView", new { product.Id })
    <br />
}
<br />
@ProductHtmlHelper.ShowProductList(Model)